.form-container {
    max-width: 800px;
    margin: 120px auto 0; 
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  select, input[type="number"], input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .item-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
  }
  
  .quantity-price {
    display: flex;
    justify-content: space-between;
  }
  
  .quantity-price input {
    width: 48%;
  }
  
  button {
    padding: 10px;
    background-color: #192a56;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #3e5995;
  }
  
  .amount-paid {
    margin-top: 20px;
  }
  
  button[type="submit"] {
    margin-top: 20px;
    color: white;
    border: 2px solid #0367A6;
    background-color: #192a56;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #0367A6;
  }
