.ver-pedidos-container {
    margin-top: 80px;
    padding: 20px;
  }
  
  .ver-pedidos-title {
    font-size: 24px;
    color: #192a56;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .back-btn, .update-btn {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #0367A6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  
  .back-btn:hover, .update-btn:hover {
    background-color: #024d7c;
  }
  
  .order-details-table {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .order-details-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 1px solid #ccc;
    background-color: #fafafa;
  }
  
  .order-details-table th {
    background-color: #0367A6;
    color: white;
    padding: 10px;
  }
  
  .order-details-table td {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
  }
  
  .total-summary {
    margin-top: 20px;
    text-align: right;
    font-size: 18px;
    color: #192a56;
  }

/*   .input-field {
    display: none;
    margin-top: 20px;
    text-align: right;
  } 
  
  .input-field input {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 200px;
  } */
  .verpedidobtn {
    display: flex;
    justify-content: space-between; 
    width: 100%;  
  }

  .update-form{
    width: 60%;
    margin: 50px auto 0; 
    padding: 20px;
    align-items: center;
  }

